.questionBox{
    margin-top: 1rem;
}
.qMark{
    font-size: large;
    font-weight: bold;
}
.questionBox img{
    display: block;
    margin: 0px auto;
    border: 3px solid black;
    width: 100%;
    border-radius: 1rem;
}
.answerBox{
    margin: 2rem 0 0 0;
    text-align: center;
}
.answerInnerBox{
    text-align: center;
}
.answerInput{
    width: 20rem;
    margin: 0;
}
.answerInnerBox ol{
    list-style: decimal;
    text-align: center;
}
.answerInnerBox li{
    width: 100%;
    border-bottom: 1px solid black;
}
.answerButton{
    width: 100%;
    margin: 2.5px 0;
    text-align: start;
    background-color: white;
    /* padding-left: 1rem; */
    border: 0;
}
.checkedBtn {
    color: var(--accent-color);
}
.buttonHztBox{
    text-align: center;
}
.myBtn{
    margin: 2rem 0 0 0;
}
.prevButton{
    background-color: lightgray;
}
.nextButton{
    background-color: var(--point-color);
}
.submitButton{
    background-color: var(--accent-color);
}
.oneBtn{
    width: 10rem;
    border-radius: 1rem;
}
.twoBtn{
    width: 5rem;
}
.twoBtn:nth-child(2n-1){
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
.twoBtn:nth-child(2n){
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}