/* basic setting */
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--background-color);
    height: 100vh;
}
:root{
    --background-color : rgb(225, 215, 185);
    --basicDark-color : #000000;
    --basicLight-color : #ffffff;
    --accent-color : #fe442b;
    --point-color : #ffdc78;
}
/* font setting */
@font-face{
    font-family: titleFont;
    src: url("/static/font/jalnan.ttf");
}
@font-face {
    font-family: questFont;
    src: url('/static/font/Title_Bold.woff');
}
@font-face {
    font-family: normalFont;
    src: url('/static/font/Title_Medium.woff');
}
@font-face {
    font-family: AnotationFont;
    src: url('/static/font/Title_Light.woff');
}
/* common functional styles */
.hidden{
    display: none;
}
/* font stlye */
.titleFont{
    font-family: titleFont, Verdana, sans-serif;
}
.questFont{
    font-family: questFont, Verdana, sans-serif;
    font-size: large;
}
.normalFont{
    font-family: normalFont, Verdana, sans-serif;
}
.anotFont{
    font-family: AnotationFont, Verdana, sans-serif;
}
/* -------- basic part style -----------*/
.outterContainer{
    border-inline: black solid 0.3rem;
    border : solid black 3rem dotted;
    background-color: var(--basicDark-color);
    min-height: 100vh;
}
.header{
    background-color: var(--point-color);
    border-bottom: var(--accent-color) solid 2rem;
    padding-right: 2rem;
}
.backToMainBtn{
    background-color: inherit;
    border: 0;
}
.titleBox{
    margin-top: 1rem;
}
.contentBox{
    background-color: var(--basicLight-color);
    padding: 1rem 2rem 2rem 2rem;
}
.outterList{
    padding: 1rem 0 2rem 0;
}