{% extends "base.html" %}
{% block content %}
<div class="contentBox">
    <div class="newGameBox text-end">
        <a href="{% url 'selectGameType' %}">
            <button class="newGameBtn">새로운 게임 만들기 >></button>
        </a>
    </div>
    <div class="outterList">
        <h2 class="titleInnerBox">이미지보고 단어 맞추는 게임</h2>
        <ul class="list-group listInnerBox">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
    </div>
    <div class="outterList">
        <h2 class="titleInnerBox">이미지보고 단어 맞추는 게임</h2>
        <ul class="list-group listInnerBox">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class`="list-group-item">Vestibulum at eros</li>
        </ul>
    </div>
</div>
{% endblock %}
 