{% extends "base.html" %}
{% block content %}
<div class="contentBox questFont">
    <div class="newGameBox text-end">
        <a href="{% url 'createGame' %}">
            <button class="newGameBtn">새로운 게임 만들기 >></button>
        </a>
    </div>
    <div class="outterList">
        <h2 class="titleInnerBox">새로나온 게임 리스트</h2>
        <ul class="list-group listInnerBox normalFont">
            <li class="list-group-item"><a href="{% url 'showGame' %}">마블 캐릭터 이름</a></li>
            {% for game in gameset %}
            <li class="list-group-item">{{game.title}}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
