{% extends "backBtnBase.html" %}
    {% block title %}새로운 게임 만들기{% endblock %}
    {% block style %}<link rel="stylesheet" href="/static/css/selectGame.css">{% endblock %}
    {% block pageTitle %}나만의 게임, 만들어볼까?{% endblock %}
    {% block makeGame %}
    <form action="{% url 'createGame' %}" method="post">
        {% csrf_token %}
        <div class="commonPart">
            <div class="titlePart">
                <p class="quest questFont" >1. 문제 제목을 작성해주세요.</p>
                <input class="anotFont" type="text" placeholder="당신의 게임 제목은 무엇인가요?" name="title">
            </div>
        </div>
        <div class="selectTypePart">
            <p class="quest questFont">2. 문제 형태를 선택하세요.</p>
            <ul class="anotFont">
                <li>
                    <input type="radio" class="selectTypeRadio" id="Qtext" name="selectQType" value="Qtext" checked>
                    <label for="Qtext">텍스트 문제</label>
                </li>
                <li>
                    <input type="radio" class="selectTypeRadio" id="Qimage" name="selectQType" value="Qimage" >
                    <label for="Qimage">이미지 문제</label>
                </li>
            </ul>

            <p class="quest questFont">3. 정답 형태를 선택하세요.</p>
            <ul class="anotFont">
                <li>
                    <input type="radio" class="selectTypeRadio" id="Atext" name="selectAType" value="Atext" checked>
                    <label for="Atext">텍스트 정답</label>
                </li>
                <li>
                    <input type="radio" class="selectTypeRadio" id="Aselect" name="selectAType" value="Aselect" >
                    <label for="Aselect">선택지 정답</label>
                </li>
            </ul>
        </div>
        <div class="makeGamePart">
            <p class="quest questFont">4. 각 문제와 정답을 작성해주세요.</p>
            <table class="qnaTable anotFont">
            </table>
            <button type="button" class="addQnaButton">내용 추가하기</button>
        </div>
        <div class="submitBox">
            <Button class="submitBtn" type="submit">제출 >></Button>
        </div>
        <input type="text" class="hidden" name="qnaCount">
    </form>
    {% endblock %}
    {% block script %} <script src="/static/js/selectGame.js"></script> {% endblock %}
